@import "tailwindcss";

@theme {
  --font-black-ops: "Black Ops One", system-ui;
  --font-oxanium: "Oxanium", system-ui;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
}
